* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background-color: #0A1828;
}

section.section-show {
  padding-top: 100px;
}

@keyframes moveImage {
  0% {
    transform: rotate(3deg) translate(3px, 3px);
  }
  50% {
    transform: rotate(-3deg) translate(-3px, -3px);
  }
  100% {
    transform: rotate(3deg) translate(3px, 3px);
  }
}
@font-face {
  font-family: "Marck";
  src: url("../Vendors/Marck_Script/MarckScript-Regular.ttf") format("ttf");
}
.navMenu {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
}
.navMenu .container .navbar {
  background-color: #0A1828;
}
.navMenu .container .navbar .container-fluid {
  padding: 0;
}
.navMenu .container .navbar .container-fluid .navbar-brand {
  font-size: 36px;
  font-weight: 600;
  color: #deb992;
}
.navMenu .container .navbar .container-fluid .navbar-toggler {
  background-color: white;
}
.navMenu .container .navbar .container-fluid .navbar-collapse {
  justify-content: end;
}
.navMenu .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
  position: relative;
  margin-right: 15px;
  padding-left: 0;
  color: rgba(23, 133, 129, 0.469);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.navMenu .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link.active, .navMenu .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
  color: yellow;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
}
.home .container .row {
  display: flex;
  align-items: center;
}
.home .container .row .home__left .home__name {
  font-size: 48px;
  font-weight: 800;
}
@media (max-width: 576px) {
  .home .container .row .home__left .home__name {
    font-size: 28px;
  }
}
.home .container .row .home__left .home__name a {
  text-decoration: none;
  color: #deb992;
}
.home .container .row .home__left .home__text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 24px;
  color: rgba(222, 185, 146, 0.65);
}
.home .container .row .home__left .home__text span {
  color: #deb992;
  font-weight: 500;
  border-bottom: 2px solid #deb992;
}
.home .container .row .home__left .home__socialMedia {
  margin-top: 40px;
}
.home .container .row .home__left .home__socialMedia a {
  font-size: 16px;
  color: #869ba9;
  margin-right: 8px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(134, 155, 169, 0.3);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.home .container .row .home__left .home__socialMedia a:hover {
  background-color: #178582;
  color: #deb992;
  font-weight: 600;
  font-size: 20px;
}
.home .container .row .home__right {
  padding: 0;
  display: flex;
  justify-content: right;
}
.home .container .row .home__right img {
  width: 80%;
  animation: moveImage 5s infinite;
}

.about .container .aboutMe {
  padding: 30px;
  background-color: #081521;
}
.about .container .aboutMe .aboutMe__title h2.title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: rgba(222, 185, 146, 0.65);
  position: relative;
}
.about .container .aboutMe .aboutMe__title h2.title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  background-color: #178582;
  top: 7px;
  left: 65px;
}
.about .container .aboutMe .aboutMe__title p {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #deb992;
  margin-top: -15px;
}
.about .container .aboutMe .aboutMe__info .row .info__photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container .aboutMe .aboutMe__info .row .info__photo img {
  height: auto;
  max-width: 80%;
}
.about .container .aboutMe .aboutMe__info .row .info__content {
  color: #869ba9;
}
.about .container .aboutMe .aboutMe__info .row .info__content .info__title {
  color: #178582;
  font-weight: 600;
}
.about .container .aboutMe .aboutMe__info .row .info__content .info__perso ul li {
  list-style: none;
  margin-bottom: 10px;
}
.about .container .aboutMe .aboutMe__info .row .info__content .info__perso ul li i {
  color: #178582;
  margin-right: 5px;
}
.about .container .aboutMe .aboutMe__info .row .info__content .info__perso ul li strong {
  margin-right: 10px;
}
.about .container .skills {
  padding: 30px;
  background-color: #081521;
}
.about .container .skills .skills__title h2.title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: rgba(222, 185, 146, 0.65);
  position: relative;
}
.about .container .skills .skills__title h2.title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  background-color: #178582;
  top: 7px;
  left: 65px;
}
.about .container .skills .skills__content .row .skills__info {
  margin-bottom: 10px;
}
.about .container .skills .skills__content .row .skills__info .skills__name {
  display: flex;
  justify-content: space-between;
}
.about .container .skills .skills__content .row .skills__info .skills__name p {
  color: #deb992;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
}
.about .container .skills .skills__content .row .skills__info .progress {
  height: 10px;
  background-color: rgba(134, 155, 169, 0.3);
}
.about .container .skills .skills__content .row .skills__info .progress .progress-bar {
  background-color: #178582;
}
.about .container .interest {
  padding: 30px;
  background-color: #081521;
}
.about .container .interest .interest__title h2.title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: rgba(222, 185, 146, 0.65);
  position: relative;
}
.about .container .interest .interest__title h2.title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  background-color: #178582;
  top: 7px;
  left: 100px;
}
.about .container .interest .interest__content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}
.about .container .interest .interest__content .interest__item .item__box {
  padding: 20px;
  background-color: rgba(134, 155, 169, 0.082);
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.about .container .interest .interest__content .interest__item .item__box:hover {
  transform: scale(1.07);
  background-color: rgba(134, 155, 169, 0.3);
}
.about .container .interest .interest__content .interest__item .item__box i {
  font-size: 32px;
  padding-right: 10px;
}
.about .container .interest .interest__content .interest__item .item__box span {
  font-size: 16px;
  font-weight: 700;
  color: #869ba9;
}

.resume .container .myResume {
  padding: 30px;
  background-color: #081521;
}
.resume .container .myResume .myResume__title h2.title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: rgba(222, 185, 146, 0.65);
  position: relative;
}
.resume .container .myResume .myResume__title h2.title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  background-color: #178582;
  top: 7px;
  left: 75px;
}
.resume .container .myResume .myResume__title p.text {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #deb992;
  margin-top: -15px;
}
.resume .container .myResume .myResume__info .row h3.topic {
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 20px 0;
  color: #deb992;
}
.resume .container .myResume .myResume__info .row .myResume__item {
  padding-left: 20px;
  border-left: 2px solid rgba(23, 133, 129, 0.196);
  position: relative;
}
.resume .container .myResume .myResume__info .row .myResume__item::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #178582;
  position: absolute;
  left: -8px;
  top: 0;
}
.resume .container .myResume .myResume__info .row .myResume__item .item__title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #178582;
}
.resume .container .myResume .myResume__info .row .myResume__item .item__year {
  font-size: 16px;
  background-color: rgba(134, 155, 169, 0.3);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgba(204, 243, 238, 0.718);
}
.resume .container .myResume .myResume__info .row .myResume__item .item__text {
  color: #869ba9;
}
.resume .container .myResume .myResume__info .row .myResume__item .item__list li {
  color: #869ba9;
  padding-bottom: 10px;
}