/*  white: #F8F7F4 - light-brown: #BBA7A1
    lighter-brown: #E3D8D4 - brown: #AE8D92 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

body {
  background-color: #F8F7F4;
}

.sectionTitle h2.title_white {
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 20px;
  color: #F8F7F4;
  letter-spacing: 2px;
  position: relative;
}
.sectionTitle h2.title_white::before {
  position: absolute;
  content: "";
  background-color: #F8F7F4;
  width: 200px;
  height: 2px;
  top: 30px;
  left: 150px;
}

.sectionTitle h2.title_brown {
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 20px;
  color: #704f5b;
  letter-spacing: 2px;
  position: relative;
}
.sectionTitle h2.title_brown::before {
  position: absolute;
  content: "";
  background-color: #704f5b;
  width: 200px;
  height: 2px;
  top: 30px;
  left: 170px;
}

.btnWhite {
  background-color: #F8F7F4;
  border-radius: 10px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  color: #704f5b;
  border: 2px solid #F8F7F4;
  transition: all 0.3s ease-in-out;
}
.btnWhite:hover {
  background-color: #AE8D92;
  color: #F8F7F4;
  border-color: #AE8D92;
}

.btnBrown {
  background-color: #704f5b;
  border-radius: 10px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  color: #F8F7F4;
  border: 2px solid #704f5b;
  transition: all 0.3s ease-in-out;
}
.btnBrown:hover {
  background-color: #F8F7F4;
  color: #704f5b;
  border-color: #704f5b;
}

@keyframes moveImage {
  0% {
    transform: rotate(3deg) translate(3px, 3px);
  }
  50% {
    transform: rotate(-3deg) translate(-3px, -3px);
  }
  100% {
    transform: rotate(3deg) translate(3px, 3px);
  }
}
@font-face {
  font-family: "Marck";
  src: url("../Vendors/Marck_Script/MarckScript-Regular.ttf") format("ttf");
}
.navMenu {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #F8F7F4;
  z-index: 1000;
}
.navMenu .container .navbar .container-fluid {
  padding: 0;
  align-items: center;
}
.navMenu .container .navbar .container-fluid .navbar-brand {
  font-size: 36px;
  font-weight: 600;
  color: #704f5b;
}
.navMenu .container .navbar .container-fluid .navbar-toggler {
  background-color: #F8F7F4;
}
.navMenu .container .navbar .container-fluid .navbar-collapse {
  justify-content: end;
}
.navMenu .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
  position: relative;
  margin-right: 15px;
  padding-left: 0;
  color: #AE8D92;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.navMenu .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #704f5b;
  left: 0;
  bottom: 5px;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.navMenu .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover::before, .navMenu .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link.active::before, .navMenu .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link.active, .navMenu .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
  visibility: visible;
  width: 82%;
  color: #704f5b;
  font-weight: 700;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
}
.home .container .row {
  display: flex;
  align-items: center;
}
.home .container .row .home__left .home__name {
  font-size: 48px;
  font-weight: 800;
}
@media (max-width: 576px) {
  .home .container .row .home__left .home__name {
    font-size: 28px;
  }
}
.home .container .row .home__left .home__name a {
  text-decoration: none;
  color: #704f5b;
}
.home .container .row .home__left .home__text {
  margin-top: 20px;
  font-size: 24px;
  color: #AE8D92;
}
.home .container .row .home__left .home__text span {
  color: #704f5b;
  font-weight: 600;
  border-bottom: 2px solid #704f5b;
}
.home .container .row .home__right {
  padding: 0;
  display: flex;
  justify-content: right;
}
.home .container .row .home__right img {
  width: 50%;
}

.about {
  padding-top: 100px;
}
.about .container {
  padding: 30px;
  background-color: #704f5b;
  padding: 48px 30px;
}
.about .container .aboutMe .aboutMe__info {
  padding: 48px 0;
}
.about .container .aboutMe .aboutMe__info .row .info__photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container .aboutMe .aboutMe__info .row .info__photo img {
  height: auto;
  max-width: 80%;
}
.about .container .aboutMe .aboutMe__info .row .info__content .info__text {
  font-size: 20px;
  color: #E3D8D4;
}
.about .container .aboutMe .aboutMe__info .row .info__content .info__signature {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.about .container .aboutMe .aboutMe__info .row .info__content .info__signature .info__cv a i {
  font-size: 20px;
}
.about .container .aboutMe .aboutMe__info .row .info__content .info__signature .signature {
  margin-left: 48px;
}

.skills {
  padding-top: 100px;
}
.skills .container {
  padding: 48px 30px;
}
.skills .container .mySkills .mySkills__content {
  padding: 48px 0;
}
.skills .container .mySkills .mySkills__content .mySkills__collapse {
  display: flex;
}
.skills .container .mySkills .mySkills__content .mySkills__collapse .btnSkills {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-right: 15px;
}
.skills .container .mySkills .mySkills__content .mySkills__collapse .btnSkills i {
  margin-left: 10px;
  transition: all 0.3s ease;
}
.skills .container .mySkills .mySkills__content .mySkills__collapse .btnSkills:hover i {
  transform: translateY(8px);
}
.skills .container .mySkills .mySkills__content .collapse {
  margin-top: 20px;
}
.skills .container .mySkills .mySkills__content .collapse .card {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  padding: 20px;
}
.skills .container .mySkills .mySkills__content .collapse .card .mySkills__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F7F4;
  padding: 20px 30px;
  background: #F8F7F4;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.skills .container .mySkills .mySkills__content .collapse .card .mySkills__item .item__text {
  margin-bottom: 0;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.skills .container .mySkills .mySkills__content .collapse .card .mySkills__item:hover {
  background-color: #E3D8D4;
  transform: scale(1.1);
}

.projects {
  padding-top: 100px;
}
.projects .container {
  padding: 30px;
  background-color: #704f5b;
  padding: 48px 30px;
}
.projects .container .sectionTitle .title_white::before {
  left: 225px;
}
.projects .container .projects__content {
  padding: 48px 0;
}
.projects .container .projects__content .projects__item {
  margin-bottom: 25px;
}
.projects .container .projects__content .projects__item .card {
  background: #F8F7F4;
  border: none;
}
.projects .container .projects__content .projects__item .card .card-body div {
  margin-bottom: 10px;
}
.projects .container .projects__content .projects__item .card .card-body div .card-title {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}
.projects .container .projects__content .projects__item .card .card-body div .card-title .card-text {
  font-weight: 400;
}
.projects .container .projects__content .projects__item .card .card-body .tech .card-title {
  margin-bottom: 10px;
}
.projects .container .projects__content .projects__item .card .card-body .tech .tech__content {
  display: flex;
  flex-wrap: wrap;
}
.projects .container .projects__content .projects__item .card .card-body .tech .tech__content .tech__item {
  background: #E3D8D4;
  text-decoration: none;
  color: #704f5b;
  padding: 6px 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  text-transform: capitalize;
}
.projects .container .projects__content .projects__item .card .card-footer {
  background: #F8F7F4;
}
.projects .container .projects__content .projects__item .card .card-footer .btnBrown {
  padding: 6px 12px;
  font-size: 16px;
  text-transform: uppercase;
}