#myBtn {
    display: none;
    position: fixed;
    background: $brown-1;
    bottom: 30px;
    right: 30px;
    color: $white-1;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $brown-1;
    transition: all .3s;

    &:hover {
        background-color: $white-1;
        border: 2px solid $brown-1;
        color: $brown-1;
    }
}