.projectList__item {
    position: relative;
    width: $num-20;
    height: $num-14;
    border-radius: $num-3 + 2;
    background: $white-1;
    cursor: pointer;
    transition: all 0.3s ease;

    .card__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: $num-3 + 2;
        inset: 10px;
    }

    .card__category {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $num-8;
        visibility: hidden;

        .cat__title {
            margin-bottom: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: $fw-6;
            text-transform: uppercase;
            border-bottom-left-radius: $num-3 + 2;
            border-bottom-right-radius: $num-3 + 2;
            color: $brown-1;
        }

        .cat__title.web {
            background-color: $blue-1;
        }

        .cat__title.data {
            background-color: $green-1;
        }
    }

    &:hover {
        outline: 3px solid $brown-1;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
        .card__category {
            visibility: visible;   
        }
    }
}