.navMenu {
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;

    .container {
        .navbar {
            background-color: $dark-1;

            .container-fluid {
                padding: 0;

                .navbar-brand {
                    font-size: $fs-5;
                    font-weight: $fw-3;
                    color: $gold-1;
                }

                .navbar-toggler {
                    background-color: white;
                }

                .navbar-collapse {
                    justify-content: end;

                    .navbar-nav {
                        .nav-link {
                            position: relative;
                            margin-right: 15px;
                            padding-left: 0;
                            color: $turquoise-2;
                            font-size: 16px;
                            font-weight: 500;
                            transition: all .3s ease-in-out;

                            &::before {
                                position: absolute;
                                content: "";
                                width: 0;
                                height: 2px;
                                background-color: $turquoise-1;
                                left: 0;
                                bottom: 5px;
                                visibility: visible;
                                transition: all .3s ease-in-out;
                            }

                            &:hover::before,
                            &.active::before,
                            &.active,
                            &:hover {
                                visibility: visible;
                                width: 82%;
                                color: $turquoise-1;
                                font-weight: 700;
                            }
                        }
                    }
                }

            }
        }
    }
}