* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: $white-1;
}

.sectionTitle {
    h2.title_white {
        @include title(150px, $white-1);
    }
}

.sectionTitle {
    h2.title_brown {
        @include title(170px, $brown-4);
    }
}

.btnWhite {
    @include btnStyle($white-1, $brown-4, $brown-3, $white-1, $white-1, $brown-3);
}

.btnBrown {
    @include btnStyle($brown-4, $white-1, $white-1, $brown-4, $brown-4, $brown-4);
}