* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background-color: $dark-1;
}

section.section-show {
    padding-top: $padding-6;
}
