* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: $white-1;
}

.sectionTitle {
    h2.title_white {
        @include title($brown-1);

        @include tablets {
            margin-bottom: $num-3;
            font-size: $num-15;
        }

        @include x-phones {
            font-size: $num-18;
        }
    }
}

.sectionTitle {
    h2.title_brown {
        @include title($brown-1);

        @include tablets {
            margin-bottom: $num-3;
            font-size: $num-15;
        }

        @include x-phones {
            font-size: $num-18;
        }
    }
}

.btnWhite {
    @include btnStyle($white-1, $brown-4, $brown-3, $white-1, $white-1, $brown-3);
}

.btnBrown {
    @include btnStyle($brown-1, $white-1, $white-1, $brown-1, $brown-1, $brown-1);
}

.myCustomTooltip {
    --bs-tooltip-bg: #662D13;
}

.dark-mode {
    .myCustomTooltip {
        --bs-tooltip-bg: #BBA7A1;
        --bs-tooltip-color: #662D13;
    }
}