// Animation 
@mixin animation($name-animation, $duration, $iteration-count) {
    animation: $name-animation $duration $iteration-count; 
}

// h2.title
@mixin title ($left, $color) {
    font-size: $num-9;
    text-transform: capitalize;
    font-weight: $fw-4;
    margin-bottom: $num-5;
    letter-spacing: 2px;
    color: $color;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 200px;
        height: 2px;
        background-color: $color;
        top: $num-7;
        left: $left;
    }
}

// background 
@mixin background {
    padding: 30px;
    background-color: $brown-4;
}

// Responsive 

// Small screen
@mixin small-screen {
    @media (max-width: map-get($breakpoints, sm)) {
        @content;
    }
}

// Medium screen
@mixin medium-screen {
    @media (min-width: map-get($breakpoints, sm)) and (max-width: map-get($breakpoints, lg)) {
        @content;
    }
}

// Large screen
@mixin large-screen {
    @media (min-width: map-get($breakpoints, lg)) and (max-width: map-get($breakpoints, xl)) {
        @content;
    }
}

// Extra Large screen
@mixin extra-large-screen {
    @media (max-width: map-get($breakpoints, xl)) {
        @content;
    }
}