// Animation 
@mixin animation($name-animation, $duration, $iteration-count) {
    animation: $name-animation $duration $iteration-count; 
}

// h2.title
@mixin title ($left, $color) {
    font-size: $num-9;
    text-transform: capitalize;
    font-weight: $fw-4;
    margin-bottom: $num-5;
    color: $color;
    letter-spacing: 2px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-color: $color;
        width: 200px;
        height: 2px;
        top: $num-7;
        left: $left;
    }
}

// background_brown 
@mixin background {
    background-color: $brown-4;
}

// button (white or brown) 
@mixin btnStyle ($bgColor, $textColor, $bgHover, $textHover, $border, $borderHover) {
    background-color: $bgColor;
    border-radius: $num-3;
    padding: $num-3 + 2 $num-6 - 1;
    font-weight: $fw-5;
    font-size: $num-5 - 2;
    color: $textColor;
    border: 2px solid $border;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $bgHover;
        color: $textHover;
        border-color: $borderHover;
    }
}

// Responsive 

// Small screen
@mixin small-screen {
    @media (max-width: map-get($breakpoints, sm)) {
        @content;
    }
}

// Medium screen
@mixin medium-screen {
    @media (min-width: map-get($breakpoints, sm)) and (max-width: map-get($breakpoints, lg)) {
        @content;
    }
}

// Large screen
@mixin large-screen {
    @media (min-width: map-get($breakpoints, lg)) and (max-width: map-get($breakpoints, xl)) {
        @content;
    }
}

// Extra Large screen
@mixin extra-large-screen {
    @media (max-width: map-get($breakpoints, xl)) {
        @content;
    }
}