// COLORS
$white-1: #F8F7F4;
$brown-1: #E3D8D4;
$brown-2: #BBA7A1;
$brown-3: #AE8D92;
$brown-4: #704f5b;

// NUMBERS
$num-1: 3px;
$num-2: 5px;
$num-3: 10px;
$num-4: 15px;
$num-5: 20px; 
$num-6: 25px;
$num-7: 30px;
$num-8: 36px; 
$num-9: 48px;

// FONT-WEIGHT
$fw-1: 200;
$fw-2: 300;
$fw-3: 400;
$fw-4: 500;
$fw-5: 600;
$fw-6: 700;
$fw-7: 800;


$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);