.about {

    .container {
        @include background;
        padding: $num-9 $num-7;

        // About Me
        .aboutMe {
            .aboutMe__info {
                .row {
                    
                    .info__photo {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            height: auto;
                            max-width: 80%;
                        }
                    }

                    .info__content {
                        .info__text {
                            font-size: $num-5;
                            color: $brown-1;
                        }

                        .info__signature {
                            display: flex;
                            align-items: center;
                            margin-top: $num-10;

                            .info__cv {
                                
                                a {
                                    background-color: $white-1;
                                    border-radius: $num-3;
                                    padding: $num-3 + 2 $num-6 - 1;
                                    font-weight: $fw-5;
                                    font-size: $num-4 + 3;
                                    color: $brown-4;
                                    transition: all .3s ease-in-out;

                                    i {
                                        font-size: $num-5;
                                    }

                                    &:hover {
                                        background-color: $brown-3;
                                        color: $white-1;
                                    }
                                }
                            }
    
                            .signature {
                                margin-left: $num-9;
                            }
                            
                        }                        
                    }
                }
            }
        }
    }
}