.about {
    .container {

        // About Me
        .aboutMe {
            @include background;

            .aboutMe__title {
                h2.title {
                    @include title(65px);
                }

                p {
                    @include text;
                }
            }

            .aboutMe__info {
                .row {
                    .info__photo {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            height: auto;
                            max-width: 80%;
                        }
                    }

                    .info__content {
                        color: $white-1;

                        .info__title {
                            color: green;
                            font-weight: 600;
                        }

                        .info__text {}

                        .info__perso {
                            ul {
                                li {
                                    list-style: none;
                                    margin-bottom: 10px;

                                    i {
                                        color: green;
                                        margin-right: 10px - 5;
                                    }

                                    strong {
                                        margin-right: 10px;
                                    }

                                    span {}
                                }
                            }
                        }

                        .info__present {}
                    }
                }
            }
        }

        // Skills 
        .skills {
            @include background;

            .skills__title {
                h2.title {
                    @include title(65px);
                }
            }

            .skills__content {
                .row {
                    .skills__info {
                        margin-bottom: 10px;

                        .skills__name {
                            display: flex;
                            justify-content: space-between;

                            p {
                                color: yellow;
                                font-weight: 500;
                                font-size: 14px;
                                text-transform: uppercase;
                                padding: 10px 0;
                                margin: 0;
                            }
                        }

                        .progress {
                            height: 10px;
                            background-color: $white-1;

                            .progress-bar {
                                background-color: green;
                                // width: 85%;
                            }
                        }
                    }
                }
            }
        }

        // Interests
        .interest {
            @include background;

            .interest__title {
                h2.title {
                    @include title(100px);
                }
            }

            .interest__content {
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 15px;

                .interest__item {
                    .item__box {
                        padding: 20px;
                        background-color: $white-1;
                        display: flex;
                        align-items: center;
                        transition: all .3s ease-in-out;

                        &:hover {
                            transform: scale(1.07);
                            background-color: $white-1;
                        }

                        i {
                            font-size: 36px - 4;
                            padding-right: 10px;
                        }

                        span {
                            font-size: 16px;
                            font-weight: 700;
                            color: $white-1;
                        }
                    }
                }
            }
        }

    }
}