.home {
    height: 100vh;
    display: flex;
    align-items: center;

    .container {
        .row {
            display: flex;
            align-items: center;

            .home__left {
                .home__name {
                    font-size: $num-9;
                    font-weight: $fw-7;

                    a {
                        text-decoration: none;
                        color: $brown-4;
                    }
                }

                .home__text {
                    margin-top: $num-5;
                    font-size: $num-6 - 1;
                    color: $brown-3;

                    span {
                        color: $brown-4;
                        font-weight: $fw-5;
                        border-bottom: 2px solid $brown-4;
                    }
                }
            }

            .home__right {
                padding: 0;
                display: flex;
                justify-content: right;

                img {
                    width: 50%;
                    // @include animation(moveImage, 5s, infinite);
                }
            }
        }
    }
}