.home {
    height: 100vh;
    display: flex;
    align-items: center;

    .container {
        .row {
            display: flex;
            align-items: center;

            .home__left {
                .home__name {
                    font-size: $num-9;
                    font-weight: $fw-7;

                    a {
                        text-decoration: none;
                        color: $brown-4;
                    }

                    @include tablets {
                        font-size: $num-18;
                    }

                    @include phones {
                        font-size: $num-8;
                    }
                }

                .home__text {
                    margin-top: $num-5;
                    font-size: $num-6 - 1;
                    color: $brown-3;

                    span {
                        color: $brown-4;
                        font-weight: $fw-5;
                        border-bottom: 2px solid $brown-4;
                    }

                    @include tablets {
                        font-size: $num-17;
                        margin-top: $num-3;
                    }

                    @include phones {
                        display: none;
                    }
                }

                .home__text2 {
                    @include large-desktops {
                        display: none;
                    }

                    @include desktops {
                        display: none;
                    }

                    @include tablets {
                        display: none;
                    }

                    @include phones {
                        display: block;
                        color: $brown-3;
                        font-size: $num-6 - 2;
                    }
                }

                @include phones {
                    text-align: center;
                    padding-bottom: $num-6;
                }
            }

            .home__right {
                padding: 0;
                display: flex;
                justify-content: right;

                img {
                    width: 50%;

                    @include phones {
                        width: 45%;
                    }

                    @include x-phones {
                        width: 40%;
                    }
                }

                @include phones {
                    justify-content: center;
                }

            }

            @include phones {
                justify-content: center;
            }
        }
    }
}