.projects {
    padding-top: $num-12;
    @include background;

    .container {
        padding: $num-9 $num-7;

        .projects__filters {
            // padding-bottom: $num-5;

            .nav-item {
                margin-right: $num-9 + 2;

                .nav-link {
                    color: $brown-1;
                    font-weight: $fw-5;
                    font-size: $num-5 - 2;
                }
            }
        }

        .projects__content {
            margin-top: $num-7;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $num-5;
        }
    }
}