.projects {
    padding-top: $num-12;
    @include background;
    
    .container {
        padding: $num-9 $num-7;

        .sectionTitle {
            .title_white::before {
                left: $num-14 + $num-6;
            }
        }

        .projects__content {
            padding: $num-9 0;
            

            .projects__item {
                margin-bottom: $num-6;
                
                .card {
                    background: $white-1;
                    border: none;

                    img {}

                    .card-body {
                        div {
                            margin-bottom: $num-3;
                            .card-title {
                                font-weight: $fw-5;
                                text-transform: capitalize;
                                margin-bottom: 0;

                                .card-text {
                                    font-weight: $fw-3;
                                }
                            }
                        }

                        .desc {
                            
                        }

                        .tech {
                            
                            .card-title {
                                margin-bottom: $num-3;
                            }
                            
                            .tech__content {
                                display: flex;
                                flex-wrap: wrap;

                                .tech__item {
                                    background: $brown-1;
                                    text-decoration: none;
                                    color: $brown-4;
                                    padding: $num-2 + 1 $num-3 + 2;
                                    margin-right: $num-2;
                                    margin-bottom: $num-2;
                                    border-radius: $num-3;
                                    text-transform: capitalize
                                }
                            }
                            
                        }
                    }

                    .card-footer {
                        background: $white-1;
                        .btnBrown {
                            padding: $num-2 + 1 $num-3 + 2;
                            font-size: $num-4 + 1;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}