.resume {
    .container {
        .myResume {
            @include background;
            .myResume__title {
                h2.title {
                    @include title(75px);
                }
                p.text {
                    @include text;
                }
            }
            .myResume__info {
                .row {
                    h3.topic {
                        @include topic;
                    }
                    .myResume__item {
                        padding-left: 20px;
                        border-left: 2px solid green;
                        position: relative;

                        &::before {
                            content: "";
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background-color: green;
                            position: absolute;
                            left: -8px;
                            top: 0;
                        }

                        .item__title {
                            font-size: 20px - 2;
                            font-weight: 600;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                            color: green;
                        }

                        .item__year {
                            font-size: 16px;
                            background-color: white;
                            padding: 5px 15px;
                            display: inline-block;
                            font-weight: 600;
                            margin-bottom: 10px;
                            color: white;
                        }

                        .item__text {
                            color: $white-1;
                        }
                        .item__list {

                            li {
                                color: $white-1;
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}