.skills {
    padding-top: $num-7;

    .container {
        padding: $num-9 $num-7;

        .mySkills {
            .mySkills__content {
                .mySkills__collapse {
                    .btnSkills {}

                    .collapse {
                        margin-top: 20px;
                        .card {
                            display: grid;
                            grid-template-columns: repeat(5, auto);
                            grid-gap: 20px;
                            padding: 20px;

                            .mySkills__item {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: $white-1;
                                padding: $num-5 $num-7;
                                background: $white-1;
                                border-radius: $num-4;
                                position: relative;
                                transition: all .3s ease-in-out;

                                .item__text {
                                    margin-bottom: 0;
                                    margin-left: $num-3;
                                    text-transform: uppercase;
                                    font-weight: $fw-5;
                                    font-size: $num-4 + 1;
                                }

                                &:hover {
                                    background-color: $brown-1;
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}